extends layout

block css
  // CSS Global Compulsory
  link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/unify/style.css')
  // CSS Implementing Plugins
  link(rel='stylesheet', href='/components/simple-line-icons/css/simple-line-icons.css')
  link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet', href='/components/cube-portfolio/cubeportfolio/css/cubeportfolio.css')
  link(rel='stylesheet', href='/unify/pages/blog_masonry_3col.css')
  // CSS Customization
  link(rel='stylesheet', href='/css/custom.css')

block js
  script(data-main="js/admin", src="/components/requirejs/require.js")

block content
  .container.content
    .row
      .col-md-3(ng-controller='UserInfoController as info')
        img.img-responsive.profile-img.margin-bottom-20(src='img/user.jpg', alt='')
        {{info.user.email}}
      .col-md-9(ng-view)
