extends ../layout

block css
  link(rel="stylesheet", href="/css/services.css")

block js
  //- script(src="components/jquery/dist/jquery.js")
  //- script(src="components/bootstrap/dist/js/bootstrap.js")
  //- script(src="components/fastclick/lib/fastclick.js")
  //- script(src="components/back-to-top/index.js")
  //- script(src="components/gsap/src/minified/TweenMax.min.js")
  //- script(src="components/jpreloader/js/jpreloader.min.js")
  script(src="js/common.js")

block breadcrumbs
  .breadcrumbs
    .container
      h1.pull-left 事業内容

block content
  .container.content-sm
    .row.margin-bottom-30
      .col-md-4
        .service-block-v1.md-margin-bottom-50
          i.rounded-x.icon-wrench
          h3.title-v3-bg.text-uppercase システム開発
          a.text-uppercase(href='#development') Read More
      .col-md-4
        .service-block-v1.md-margin-bottom-50
          i.rounded-x.icon-book-open
          h3.title-v3-bg.text-uppercase ソリューション
          a.text-uppercase(href='#solution') Read More
      .col-md-4
        .service-block-v1.md-margin-bottom-50
          i.rounded-x.icon-screen-tablet
          h3.title-v3-bg.text-uppercase 製品及びサービス
          a.text-uppercase(href='#product') Read More
      .col-md-6
        .service-block-v1.md-margin-bottom-50
          i.rounded-x.icon-present
          h3.title-v3-bg.text-uppercase グローバル　イー・コーマス（GEC）事業
          a.text-uppercase(href='#e-comerce') Read More
      .col-md-6
        .service-block-v1.md-margin-bottom-50
          i.rounded-x.icon-camcorder
          h3.title-v3-bg.text-uppercase ウェブメディア（WME）事業
          a.text-uppercase(href='#media') Read More

  .one-page
    #development.one-page-inner.one-blue
      .container.content
        .row.margin-bottom-30
          .col-md-7.content-boxes-v6
            i.rounded-x.icon-wrench
            h1.title-v3-md.text-uppercase.margin-bottom-10 システム開発
            p
              | 創業以来培った「業務ノウハウ」「豊富なプロジェクトマネージメント経験」「業種毎のナレッジ」と 「最新の情報技術」をベースに、受託開発、業務支援（ＳＥＳ）、オフショアなどの様々なメソッドを活用し、 システム提案から設計、製造、テスト、納品までの総合的なシステム開発サービスをご提供いたします。
          .col-md-5
            img.img-responsive.margin-bottom-10(src='/img/main/24.jpg', alt='')
        .row.margin-bottom-30
          .col-md-5
            img.img-responsive.margin-bottom-10(src='/img/main/15.jpg', alt='')
          .col-md-7
            h2 SES事業
            p
              | 2007年の創業から一貫して、お客様のご支持を頂けるSES事業者として、 常に真摯にお客様のニーズに向き合って参りました。お客様に「ニーズにベストマッチした人材を、 ベストのタイミングで、確実にお届けする」を合言葉に日々の業務に取り組ませて頂いております。
            h2 受託開発
            p
              | 弊社には150名を超えるシステム開発のスタッフが在籍しており、 お客様の要望にお応えできる体制が整っております。 また各業界に特化した知識を持ったエキスパートがプロジェクトをリードし、 非常に投資効率の高い成果をあげております。
    #solution.one-page-inner.one-default
      .container.content
        .row
          .col-md-7.content-boxes-v6
            i.rounded-x.icon-book-open
            h1.title-v3-md.text-uppercase.margin-bottom-10 ソリューション
            p
              | インターネットが急速に進化・発展している現在、各企業ではビジネスに直結したWebシステム構築の重要性が高まっています。 インターネット戦略の核となるWebシステムの構築は、企業の事業戦略、マーケティング戦略 に対する貢献度が大きい重要課題の１つであり、 各企業のWebシステムのサービスレベル及び品質レベルが、各社の事業を成功に導く重要な鍵となっております。 当社はWebシステムのトータル・ソリューションをご提供いたします。
          .col-md-5
            img.margin-bottom-10.img-responsive(src='/img/masonry/blog2.jpg', alt='')
    #product.one-page-inner.one-red
      .container.content
        .row
          .col-md-5
            img.img-responsive.margin-bottom-10(src='/img/main/11.jpg', alt='')
          .col-md-7.content-boxes-v6
            i.rounded-x.icon-screen-tablet
            h1.title-v3-md.text-uppercase.margin-bottom-10 製品及びサービス
            p
              | 次世代端末（スマートフォン、タブレット等）の急速な普及に伴い、お客様（コンシューマ様やクライアント様）のからのマルチデバイス対応のニーズが高まっています。 当社は新たな技術を駆使し、お客様の様々なニーズに向き合い、最善な製品をご提供いたします。 主な製品：スマートフォン関連、クラウドサービスなど。
    #e-comerce.one-page-inner.one-default
      .container.content
        .row
          .col-md-7.content-boxes-v6
            i.rounded-x.icon-present
            h1.title-v3-md.text-uppercase.margin-bottom-10 グローバル　イー・コーマス（GEC）事業
            p 大変申し訳ございませんが、こちらの内容は只今建設中です。
          .col-md-5
            img.img-responsive(src='/img/masonry/blog5.jpg', alt='')
    #media.one-page-inner.one-green
      .container.content
        .row.margin-bottom-30
          .col-md-5
            img.img-responsive.margin-bottom-10(src='/img/main/2.jpg', alt='')
          .col-md-7.content-boxes-v6
            i.rounded-x.icon-camcorder
            h1.title-v3-md.text-uppercase.margin-bottom-10 ウェブメディア（WME）事業
            p 大変申し訳ございませんが、こちらの内容は只今建設中です。