@import url(../components/bootstrap/dist/css/bootstrap.min.css);
@import url(../unify/style.css);
@import url(../components/simple-line-icons/css/simple-line-icons.css);
@import url(../components/font-awesome/css/font-awesome.min.css);
@import url(../components/revolution-slider/rs-plugin/css/settings.css);
@import url(../unify/theme-colors/blue.css);
@import url(custom.css);