extends ../layout

block css
  link(rel="stylesheet", href="/css/about-us.css")

block js
  script(src="js/about-us.js")

block breadcrumbs
  .breadcrumbs
    .container
      h1.pull-left 会社概要

block content

  #greeting.modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='greetingLabel', aria-hidden='true')
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(aria-hidden='true', data-dismiss='modal', type='button') ×
          h4#greetingLabel.modal-title 社長からのメッセージ
        .modal-body
          blockquote.row.shadow-wrapper
            #photo.col-sm-6.col-md-4.pull-right.box-shadow.shadow-effect-2.margin-bottom-10
              img.img-responsive.margin-bottom-10(src='/img/eb/DSC_2573.jpg', alt='')
            p 当社は2007年に発足して以来、短い８年間と言いながら、リーマンショックをきっかけとした不況、東日本大震災、アベノミクス等、様々な激しい変化を経験して参りました。その厳しい創業期を乗り越え、無事第8期を迎える事が出来ましたのも、当社のお客様、ビジネスパートナー様、 その他関係者全ての皆様のお力によるものでございます。ここに改めて深く御礼申し上げます。
            p 社会環境の変化に伴い、IT業界でも技術革新のスピードがますます速くなり、企業の優勝劣敗の残酷さをしみじみ感じております。この危機感を抱えながら、いかに業界最新動向を捉え、会社全体のコミュニケーション力、思考力と実行力を高めることが極めて重要だと思っております。
            p 専門性、実用性、耐久性の高い会社になるため、社員満足から始まる顧客満足を向上させるために、当社は試行錯誤を重ねて、常に進化を追求し続けて参ります。
            p 今後とも変わらぬ、一層の皆様のご愛顧とご指導、ご支援賜りますようお願い申し上げます。
            small 代表取締役　荊 威

  #company-info.container.content
    .row
      .col-sm-4
        .service
          i.service-icon.icon-star
          .desc
            h4.no-top-space 設立日
            p 2016年4月1日（平成28年4月1日）
      .col-sm-4
        .service
          i.service-icon.icon-user-following
          .desc
            h4.no-top-space 代表者
            p 代表取締役社長 荊 威
            //- button.btn-u.btn-u-xs(data-toggle="modal",data-target="#greeting") ご挨拶
      .col-sm-4
        .service
          i.service-icon.icon-pointer
          .desc
            h4.no-top-space 所在地
            p 神奈川県川崎市川崎区堀之内町５丁目７番 アルコード川崎デューアル６０５号室
    .row
      .col-sm-4
        .service
          i.service-icon.icon-diamond
          .desc
            h4.no-top-space 資本金
              | 
              span.counter 600
              | 万円
            p 平成28年4月現在
      .col-sm-4
        .service
          i.service-icon.icon-users
          .desc
            h4.no-top-space 従業員数
              | 
              span.counter 10
              | 人
            p 平成28年4月現在
