extends ../layout

block css
  link(rel="stylesheet", href="/css/common.css")

block js
  //- script(src="components/jquery/dist/jquery.js")
  //- script(src="components/bootstrap/dist/js/bootstrap.js")
  //- script(src="components/fastclick/lib/fastclick.js")
  //- script(src="components/back-to-top/index.js")
  //- script(src="components/gsap/src/minified/TweenMax.min.js")
  //- script(src="components/jpreloader/js/jpreloader.min.js")
  script(src="js/common.js")
    
block breadcrumbs
  .breadcrumbs
    .container
      h1.pull-left 個人情報の利用目的の公表に関する事項

block content
  .container.content
    .shadow-wrapper.margin-bottom-60
      .tag-box.tag-box-v1.box-shadow.shadow-effect-2
        h4 株式会社イービジネス（以下、「当社」という）が取り扱う個人情報の利用目的は、下記の通りです。
        p 開示対象個人情報は当社に対して利用目的の通知、開示、内容の訂正、追加又は削除、利用の停止、消去及び第三者への提供の停止について、ご請求する事が出来ます。

    ol
      li 個人情報を取り扱う事業者
        p 株式会社イー・ビジネス

      li 個人情報保護管理者
        p 技術推進部　陳 悦陽

      li 開示対象個人情報の利用目的
        ul
          li お取引先の従業者の個人情報（名刺等）
            p 業務上の連絡、時候のご挨拶
          li 技術者の個人情報
            p
              ol
                li システム運用・開発案件に対する技術者の技術力の把握・評価
                li システム運用・開発案件に関する技術者の連絡先
                li その他必要な事項
          li 採用応募者の個人情報
            p
              ol
                li 採用応募者との連絡
                li 採用選考などの採用活動
          li 社員の個人情報
            p 人事業務（給与計算、福利厚生、経営管理、人事管理、その他必要な事項）

      li 弊社でお預かりしております個人情報のうち、次の情報を開示いたします
        p お名前、会社名、郵便番号、住所、電話番号、FAX番号、メールアドレス、性別、登録メール
        ol
          li 請求書に記載されている住所と本人確認のための書類に記載されている住所が一致しない時など本人が確認できない場合
          li 代理人による請求に際して代理権が確認できない場合
          li 開示の求めの対象が「保有個人データ」に該当しない場合
          li 本人または第三者の生命、身体、財産その他の権利利益を害する恐れがある場合
          li 弊社の業務の適正な実施に著しい支障を及ぼす恐れがある場合
          li 他の法令に違反することとなる場合
        p ※上記項目のうち該当項目のみの開示となります。但し、次に定める場合は非開示とさせていただきます。

      li 開示対象個人情報の取扱に対する苦情の申し出先
        p(style='white-space:pre;') 
          | イー・ビジネス相談窓口　三好 博之
          | TEL: 03-6809-3235

      li 開示等の請求について
        p 当社で取り扱っている開示対象個人情報について、当社への個人情報の利用目的の通知、開示、内容の訂正、追加または削除、利用の停止、消去及び第三者への提供の停止を求められる場合、以下に記載してある連絡先までご連絡ください。開示等のご請求についての手続及び対応をさせていただきます。
        ul
          li 請求窓口
            p(style='white-space:pre;') 
              | 株式会社イー・ビジネス 相談窓口　三好 博之
              | 住所: 東京都港区芝2-28-8芝2丁目ビル10階
              | 電話番号: 03-6809-3235
            p(style='white-space:pre;') 
              | 一般財団法人 日本情報経済社会推進協会
              | 個人情報保護苦情相談室
              | TEL: 03-5860-7565, 0120-700-779
              | 〒106-0032 東京都港区六本木一丁目９番９号六本木ファーストビル内

          li 開示等のご請求の受付
            p 開示等の対応に関しましては、お電話にての御連絡または、直接来訪いただき、個人情報開示等依頼書をご提出いただきますようお願いいたします。

          li 本人確認方法について
            p 免許証、パスポート、住民基本台帳ネットワークカード（写真付き）等にてご確認をさせていただきます。またお電話にて御連絡いただいた場合には、改めて当社よりご連絡をさせていただきます。

          li 手数料
            p(style='white-space:pre;') 
              | 返信用切手500円分 
              | ただし、手数料について、変更をする場合にはあらかじめ公表いたします。
          li 法定代理人が請求する場合は、上記に加え、戸籍謄本､登記事項証明書､又は委任状 を提出してください
        p

      li 当社からの通知方法
        p 「開示依頼回答書」を本人へ発送します。回答は当依頼書の受領後２週間以内を原則として、書面での郵送にてお知らせいたします。
