extends ../layout

block css
  link(rel="stylesheet", href="/css/home.css")

block js
  //- script(src="components/jquery/dist/jquery.js")
  //- script(src="components/bootstrap/dist/js/bootstrap.js")
  //- script(src="components/fastclick/lib/fastclick.js")
  //- script(src="components/back-to-top/index.js")
  //- script(src="components/gsap/src/minified/TweenMax.min.js")
  //- script(src="components/waypoints/waypoints.min.js")
  //- script(src="components/jpreloader/js/jpreloader.min.js")
  //- script(src="components/jquery-touchswipe/jquery.touchSwipe.min.js")
  //- script(src="components/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js")
  script(src="js/home.js")

block slider
  .tp-banner-container
    .tp-banner
      ul
        li.revolution-mch-1(data-transition='random', data-slotamount='5', data-masterspeed='1000', data-title="会社ビジョン")
          img(src='/img/eb/kaisya2.jpg', alt='darkblurbg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
          .tp-caption.revolution-ch1.sft.start(data-x='center', data-hoffset='0', data-y='100', data-speed='1500', data-start='500', data-easing='Back.easeInOut', data-endeasing='Power1.easeIn', data-endspeed='300')
            | 社会と人々の生活をより豊かなものへと推進し
          .tp-caption.revolution-ch1.sft(data-x='center', data-hoffset='0', data-y='190', data-speed='1400', data-start='2000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6;')
            | 進化をもたらせるIT組織を目指していきます
        li.revolution-mch-1(data-transition='random', data-slotamount='5', data-masterspeed='1000', data-title="経営理念")
          img(src='/img/eb/DSC_3972.jpg', alt='darkblurbg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
          .tp-caption.revolution-ch1.sft.start(data-x='center', data-hoffset='0', data-y='100', data-speed='1500', data-start='500', data-easing='Back.easeInOut', data-endeasing='Power1.easeIn', data-endspeed='300')
            | 社員の幸せを優先する会社づくり
          .tp-caption.revolution-ch1.sft(data-x='center', data-hoffset='0', data-y='190', data-speed='1400', data-start='2000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6;')
            | 顧客満足度を最大とするためのビジネス展開
        li.revolution-mch-1(data-transition='random', data-slotamount='5', data-masterspeed='1000', data-title="イー国際会社に目指す")
          img(src='/img/sliders/2.jpg', alt='darkblurbg', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
          .tp-caption.revolution-ch1.sft.start(data-x='center', data-hoffset='0', data-y='100', data-speed='1500', data-start='500', data-easing='Back.easeInOut', data-endeasing='Power1.easeIn', data-endspeed='300')
            | 国際的な視野に立ち
          .tp-caption.revolution-ch1.sft(data-x='center', data-hoffset='0', data-y='190', data-speed='1400', data-start='2000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6;')
            | より高い利便性を追求
          .tp-caption.revolution-ch1.sft(data-x='center', data-hoffset='0', data-y='280', data-speed='1400', data-start='3000', data-easing='Power4.easeOut', data-endspeed='300', data-endeasing='Power1.easeIn', data-captionhidden='off', style='z-index: 6;')
            | より高品質なITサービスを提供
      .tp-bannertimer.tp-bottom

block breadcrumbs
  .purchase
    .container
      .row
        .col-md-9
          span 株式会社 イー・ビジネス
          p
            | お客様とともに歩み、絶えず進化する高い生産効率と信頼の高品質で貢献する先進のテクノロジに積極果敢に挑戦し異文化融合を目指す企業の先駆けとなり常に信頼され、支持される企業に
        .col-md-3.btn-buy
          a.btn-u.btn-u-lg(href='contact')
            i.icon-earphones-alt
            |  お問合せ

block content
  .container.content
    #sub-cate.row.margin-bottom-20
      .col-sm-4
        .thumbnails.thumbnail-style.thumbnail-kenburn
          .thumbnail-img
            .overflow-hidden
              img.img-responsive(src='/img/main/1.jpg', alt='')
            a.btn-more.btn-blue.hover-effect(href='about-us') read more +
          .caption
            h3
              a.hover-effect(href='about-us') 会社概要
      .col-sm-4
        .thumbnails.thumbnail-style.thumbnail-kenburn
          .thumbnail-img
            .overflow-hidden
              img.img-responsive(src='/img/main/16.jpg', alt='')
            a.btn-more.hover-effect(href='services') read more +
          .caption
            h3
              a.hover-effect(href='services') 事業内容
      .col-sm-4
        .thumbnails.thumbnail-style.thumbnail-kenburn
          .thumbnail-img
            .overflow-hidden
              img.img-responsive(src='/img/main/17.jpg', alt='')
            a.btn-more.hover-effect(href='recruitment') read more +
          .caption
            h3
              a.hover-effect(href='recruitment') 採用情報
      //- .col-md-4.col-xs-6
      //-   .thumbnails.thumbnail-style.thumbnail-kenburn
      //-     .thumbnail-img
      //-       .overflow-hidden
      //-         img.img-responsive(src='/img/main/11.jpg', alt='')
      //-       a.btn-more.hover-effect(href='contact') read more +
      //-     .caption
      //-       h3
      //-         a.hover-effect(href='contact') お問合せ
